################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CoreAngular/.vs/CoreAngular/v16
/CoreAngular.API/.vs/CoreAngular/v16
/CoreAngular.API/.vs/CoreAngular/DesignTimeBuild
